[type='radio'] {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* width: 100%; */
  height: 100%;
  background: rgb(35, 30, 46);
  padding: 2rem;
}

.wrapper {
  max-width: 60rem;
  padding: 2.5rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(116, 117, 178);
  border-radius: 20px
}

.slider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.slider__inner {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: flex;
}

.slider__item {
  margin: 0;
  flex: 0 0 100%;
}

.item__img {
  width: 100%;
  object-fit: contain;
  height: 25rem;
  margin-bottom: 3rem;
}

.item__text {
  display: none;
  font-size: 2em;
  color: aliceblue;
  animation: text-animation 1.5s;
}

.controls {
  display: inline-flex;
  align-items: center;
  align-self: flex-end;
  transform: translateY(-75%);
}

label {
  padding: 0.5rem;
  cursor: pointer;
}

label:hover > .btn {
  background-color: cadetblue;
}

.btn {
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgb(52, 20, 83);
  pointer-events: fill;
  border-color: rgb(52, 20, 83);
  transition: background-color 0.5s, border-color 0.5s;
  border-radius: 50%;
}

#slide1:checked ~ .controls > #btn1 > .btn,
#slide2:checked ~ .controls > #btn2 > .btn,
#slide3:checked ~ .controls > #btn3 > .btn,
#slide4:checked ~ .controls > #btn4 > .btn,
#slide5:checked ~ .controls > #btn5 > .btn,
#slide6:checked ~ .controls > #btn6 > .btn,
#slide7:checked ~ .controls > #btn7 > .btn,
#slide8:checked ~ .controls > #btn8 > .btn {
  background-color: transparent;
  border: 0.2rem solid rgb(52, 20, 83);
}

#slide1:checked ~ .controls > #btn1:hover > .btn,
#slide2:checked ~ .controls > #btn2:hover > .btn,
#slide3:checked ~ .controls > #btn3:hover > .btn,
#slide4:checked ~ .controls > #btn4:hover > .btn,
#slide5:checked ~ .controls > #btn5:hover > .btn,
#slide6:checked ~ .controls > #btn6:hover > .btn,
#slide7:checked ~ .controls > #btn7:hover > .btn,
#slide8:checked ~ .controls > #btn8:hover > .btn {
  background-color: transparent;
  border: 0.2rem solid rgb(223, 248, 6);
}

#slide1:checked ~ .slider__inner {
  transform: translateX(0);
}

#slide2:checked ~ .slider__inner {
  transform: translateX(-100%);
}

#slide3:checked ~ .slider__inner {
  transform: translateX(-200%);
}

#slide4:checked ~ .slider__inner {
  transform: translateX(-300%);
}

#slide5:checked ~ .slider__inner {
  transform: translateX(-400%);
}

#slide6:checked ~ .slider__inner {
  transform: translateX(-500%);
}

#slide7:checked ~ .slider__inner {
  transform: translateX(-600%);
}

#slide8:checked ~ .slider__inner {
  transform: translateX(-700%);
}

#slide1:checked ~ .slider__inner > :nth-child(1) .item__text,
#slide2:checked ~ .slider__inner > :nth-child(2) .item__text,
#slide3:checked ~ .slider__inner > :nth-child(3) .item__text,
#slide4:checked ~ .slider__inner > :nth-child(4) .item__text,
#slide5:checked ~ .slider__inner > :nth-child(5) .item__text,
#slide6:checked ~ .slider__inner > :nth-child(6) .item__text,
#slide7:checked ~ .slider__inner > :nth-child(7) .item__text,
#slide8:checked ~ .slider__inner > :nth-child(8) .item__text {
  display: inline-block;
}

@keyframes text-animation {
  11.1% {
    opacity: 0;
    transform: none;
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 50rem) {

  
  .wrapper {
    min-width: 23.75rem;
  }

  .slider {
    flex-wrap: wrap;
  }

  .controls {
    align-self: center;
    transform: translateY(-250%);
  }

  .item__text{
    margin-top: 4rem;
  }
}

@media (max-width: 30rem) {

  body {
    width: 460px;
    margin: 0 auto;
  }
}